body{
    font-family: 'Lato', 'sans-serif';
    
}

h1.title{
font-weight: 900;
font-size: 4rem;
color: white;
}

.title-container{
    background-color: rgb(47, 50, 53);
}

#city , .currentDate{
    font-weight: 700;
    margin-top: 10px;

}
#title-container h2{
    font-weight: 700;
}

#currentIcon{
    margin-top: 5px;
}
.padding{
    padding:0px;
}

.list-group{
    margin-bottom: 20px;
    font-size: 1.3rem;
    overflow: hidden;
}
.weather-container{
    margin-top: 15px;
}
h3 h4 h5{
    font-size: 1rem;
}


.margin{
    margin-top: 10px;
    margin-bottom:15px;
}

.uv{
    margin-left: 15px;
    padding:5px;
    color:white;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
    color: black;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.indigo{
    background-color: rgb(141, 0, 146);
}

.iconMargin{
    margin-top:10px;
    margin-bottom:20px;
}
.card-body{
    color:white;
}